Source: skia
Priority: optional
Maintainer: Taehwan Kim <taehwan@nemoux.net>
Build-Depends: debhelper (>=9), build-essential, clang, libstdc++-6-dev, libc6-dev, libfreetype6-dev, libfontconfig1-dev, libpng-dev, libjpeg-dev, libexpat1-dev, libicu-dev, libdrm-dev, mesa-common-dev, libgl1-mesa-dev, libglu1-mesa-dev, libosmesa6-dev
Standards-Version: 3.9.8
Section: libs
Homepage: http://skia.org
Vcs-Git: http://skia.googlesource.com/skia.git
Vcs-Browser: http://skia.googlesource.com/skia.git

Package: skia
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: google skia libraries
    google skia library

Package: skia-dev
Section: libdevel
Architecture: any
Priority: extra
Depends: skia (= ${binary:Version}),
    ${shlibs:Depends}, ${misc:Depends}
Description: google skia development files
    google skia library

Package: skia-dbg
Section: debug
Architecture: any
Priority: extra
Depends: skia (= ${binary:Version}),
    ${shlibs:Depends}, ${misc:Depends}
Description: google skia debugging symbols
    google skia library
